Orchestrateur_final.json
[{"id":"b3c0bdb0.79cf5","type":"tab","label":"Orchestrateur","disabled":false,"info":""},{"id":"969462a8.41476","type":"http request","z":"b3c0bdb0.79cf5","name":"RefreshDigit","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:3000/getTailleListe","tls":"","proxy":"","authType":"basic","x":1050,"y":360,"wires":[["5fe55dd0.ce4324"]]},{"id":"5fe55dd0.ce4324","type":"mqtt out","z":"b3c0bdb0.79cf5","name":"","topic":"info/taille/postOrQuit","qos":"","retain":"","broker":"da52dc5d.2ee68","x":1260,"y":360,"wires":[]},{"id":"3ea4bff0.6d23a","type":"inject","z":"b3c0bdb0.79cf5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":696,"y":543,"wires":[["969462a8.41476","be405ff9.0e996"]]},{"id":"f4d2d12b.3134a","type":"mqtt in","z":"b3c0bdb0.79cf5","name":"","topic":"info/suivant","qos":"2","datatype":"auto","broker":"b0fb165b.cd0c48","x":692,"y":668,"wires":[["a87bc6c4.731e38"]]},{"id":"a87bc6c4.731e38","type":"http request","z":"b3c0bdb0.79cf5","name":"suivant","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:3000/suivant","tls":"","proxy":"","authType":"basic","x":960,"y":660,"wires":[["9161ab9b.ffc268","be405ff9.0e996"]]},{"id":"e617a2af.5c58","type":"debug","z":"b3c0bdb0.79cf5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":295,"y":247,"wires":[]},{"id":"a7d9c2c2.8af04","type":"mqtt out","z":"b3c0bdb0.79cf5","name":"","topic":"number/topic","qos":"","retain":"","broker":"216670eb.e83d5","x":902,"y":180,"wires":[]},{"id":"216bc2c2.2998fe","type":"http request","z":"b3c0bdb0.79cf5","name":"ajouterNum","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:3000/ajouterNum?numero=localhost","tls":"","proxy":"","authType":"basic","x":301,"y":185,"wires":[["969462a8.41476","a7d9c2c2.8af04","f11dc8ef.6df9a8","be405ff9.0e996"]]},{"id":"f11dc8ef.6df9a8","type":"debug","z":"b3c0bdb0.79cf5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":469,"y":147,"wires":[]},{"id":"89a418b4.1b5118","type":"mqtt in","z":"b3c0bdb0.79cf5","name":"","topic":"creation/topic","qos":"2","datatype":"auto","broker":"216670eb.e83d5","x":103,"y":76,"wires":[["3de2d68b.78927a"]]},{"id":"3de2d68b.78927a","type":"http request","z":"b3c0bdb0.79cf5","name":"GetInfoBase","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:3000/getInfoBase?numero=localhost","tls":"","proxy":"","authType":"basic","x":303,"y":75,"wires":[["a7d9c2c2.8af04","6b700bbf.01cf44"]]},{"id":"6b700bbf.01cf44","type":"debug","z":"b3c0bdb0.79cf5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":648,"y":78,"wires":[]},{"id":"b08a8bcc.8070c8","type":"mqtt in","z":"b3c0bdb0.79cf5","name":"","topic":"suppr/topic","qos":"2","datatype":"auto","broker":"216670eb.e83d5","x":87,"y":347,"wires":[["d78b3619.0c2c38"]]},{"id":"d78b3619.0c2c38","type":"http request","z":"b3c0bdb0.79cf5","name":"supprNum","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:3000/supprNum?numero=localhost","tls":"","proxy":"","authType":"basic","x":297,"y":347,"wires":[["969462a8.41476","a7d9c2c2.8af04","be405ff9.0e996"]]},{"id":"f196d0.df3fb93","type":"mqtt in","z":"b3c0bdb0.79cf5","name":"","topic":"join/topic","qos":"2","datatype":"auto","broker":"216670eb.e83d5","x":91,"y":184,"wires":[["e617a2af.5c58","216bc2c2.2998fe"]]},{"id":"20d76634.79581a","type":"mqtt in","z":"b3c0bdb0.79cf5","name":"","topic":"info/taille/pass","qos":"2","datatype":"auto","broker":"e4199d1d.7cab2","x":693,"y":598,"wires":[["969462a8.41476"]]},{"id":"9161ab9b.ffc268","type":"mqtt out","z":"b3c0bdb0.79cf5","name":"","topic":"info/taille/pass","qos":"","retain":"","broker":"e4199d1d.7cab2","x":1220,"y":680,"wires":[]},{"id":"be405ff9.0e996","type":"mqtt out","z":"b3c0bdb0.79cf5","name":"","topic":"creation/topic","qos":"","retain":"","broker":"216670eb.e83d5","x":1230,"y":460,"wires":[]},{"id":"da52dc5d.2ee68","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.16","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b0fb165b.cd0c48","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.16","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"216670eb.e83d5","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e4199d1d.7cab2","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.16:1880","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]