raspberry node red.json
[{"id":"d0cf299d.368c38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6e56dabe.747034","type":"rpi-gpio in","z":"d0cf299d.368c38","name":"button","pin":"11","intype":"down","debounce":"25","read":false,"x":150,"y":100,"wires":[["b3d18172.2b6ae"]]},{"id":"4951ba19.683414","type":"grove-4-digit-display","z":"d0cf299d.368c38","name":"info/taille","pin":"5","x":540,"y":380,"wires":[]},{"id":"2522707.fc8149","type":"function","z":"d0cf299d.368c38","name":"JSONParse","func":"msg.payload = msg.payload[0].taille;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":380,"wires":[["940b4cc4.3f6d1","4951ba19.683414"]]},{"id":"5498e7a5.8fd8d8","type":"mqtt in","z":"d0cf299d.368c38","name":"","topic":"info/taille/postOrQuit","qos":"2","datatype":"json","broker":"9517a105.e5cf1","x":110,"y":380,"wires":[["2522707.fc8149"]]},{"id":"940b4cc4.3f6d1","type":"debug","z":"d0cf299d.368c38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":320,"wires":[]},{"id":"45719a81.e3d744","type":"mqtt out","z":"d0cf299d.368c38","name":"","topic":"info/suivant","qos":"","retain":"","broker":"9517a105.e5cf1","x":750,"y":100,"wires":[]},{"id":"e5dc9d00.46823","type":"debug","z":"d0cf299d.368c38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":180,"wires":[]},{"id":"b3d18172.2b6ae","type":"function","z":"d0cf299d.368c38","name":"bouttonNeDoitPasMarcherSurUnDeclick","func":"if (msg.payload===0){\n    return;\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":100,"wires":[["e5dc9d00.46823","45719a81.e3d744"]]},{"id":"9517a105.e5cf1","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]