backend/node-red/orchestrateur.json
[{"id":"3dfb499d.1b7a5e","type":"tab","label":"Orchestrateur","disabled":false,"info":""},{"id":"6dace4a6.d8bf54","type":"http request","z":"3dfb499d.1b7a5e","name":"RefreshDigit","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:3000/getTailleListe","tls":"","proxy":"","authType":"basic","x":944,"y":525,"wires":[["cd47389a.d837f"]]},{"id":"cd47389a.d837f","type":"mqtt out","z":"3dfb499d.1b7a5e","name":"","topic":"info/taille/postOrQuit","qos":"","retain":"","broker":"f352ad5a.80be08","x":1254,"y":525,"wires":[]},{"id":"b16b61cc.825af8","type":"inject","z":"3dfb499d.1b7a5e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":696,"y":543,"wires":[["6dace4a6.d8bf54"]]},{"id":"181abf86.796c78","type":"mqtt in","z":"3dfb499d.1b7a5e","name":"","topic":"info/suivant","qos":"2","datatype":"auto","broker":"9952cf79.12da38","x":692,"y":668,"wires":[["4489bee9.6ed6a"]]},{"id":"4489bee9.6ed6a","type":"http request","z":"3dfb499d.1b7a5e","name":"suivant","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:3000/suivant","tls":"","proxy":"","authType":"basic","x":938,"y":667,"wires":[["eefc543f.55f778"]]},{"id":"eefc543f.55f778","type":"mqtt out","z":"3dfb499d.1b7a5e","name":"","topic":"info/taille/pass","qos":"","retain":"","broker":"3ae71bd5.0fef9c","x":1244,"y":665,"wires":[]},{"id":"144a880d.b88fb8","type":"mqtt in","z":"3dfb499d.1b7a5e","name":"","topic":"info/taille/pass","qos":"2","datatype":"auto","broker":"3ae71bd5.0fef9c","x":693,"y":598,"wires":[["6dace4a6.d8bf54"]]},{"id":"4b4eac99.938c34","type":"debug","z":"3dfb499d.1b7a5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":295,"y":247,"wires":[]},{"id":"f8afd805.da0bf","type":"mqtt out","z":"3dfb499d.1b7a5e","name":"","topic":"number/topic","qos":"","retain":"","broker":"60a53880.f8ee1","x":902,"y":180,"wires":[]},{"id":"820ce400.f9354","type":"http request","z":"3dfb499d.1b7a5e","name":"ajouterNum","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:3000/ajouterNum?localhost","tls":"","proxy":"","authType":"basic","x":301,"y":185,"wires":[["f8afd805.da0bf","884f16f1.902608","6dace4a6.d8bf54"]]},{"id":"884f16f1.902608","type":"debug","z":"3dfb499d.1b7a5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":469,"y":147,"wires":[]},{"id":"6012659.e58291c","type":"mqtt in","z":"3dfb499d.1b7a5e","name":"","topic":"creation/topic","qos":"2","datatype":"auto","broker":"60a53880.f8ee1","x":103,"y":76,"wires":[["f6555220.465628"]]},{"id":"f6555220.465628","type":"http request","z":"3dfb499d.1b7a5e","name":"GetInfoBase","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:3000/getInfoBase?localhost","tls":"","proxy":"","authType":"basic","x":303,"y":75,"wires":[["f8afd805.da0bf","b40b5d7d.3a6c68"]]},{"id":"b40b5d7d.3a6c68","type":"debug","z":"3dfb499d.1b7a5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":648,"y":78,"wires":[]},{"id":"2c19040b.e2ca4c","type":"mqtt in","z":"3dfb499d.1b7a5e","name":"","topic":"suppr/topic","qos":"2","datatype":"auto","broker":"60a53880.f8ee1","x":87,"y":347,"wires":[["b25797a3.99a0a"]]},{"id":"b25797a3.99a0a","type":"http request","z":"3dfb499d.1b7a5e","name":"supprNum","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:3000/supprNum?localhost","tls":"","proxy":"","authType":"basic","x":297,"y":347,"wires":[["f8afd805.da0bf","6dace4a6.d8bf54"]]},{"id":"44236002.18bae8","type":"mqtt in","z":"3dfb499d.1b7a5e","name":"","topic":"join/topic","qos":"2","datatype":"auto","broker":"60a53880.f8ee1","x":91,"y":184,"wires":[["820ce400.f9354","4b4eac99.938c34"]]},{"id":"f352ad5a.80be08","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.16","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9952cf79.12da38","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.16","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3ae71bd5.0fef9c","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.16:1880","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"60a53880.f8ee1","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]